<a href="https://colab.research.google.com/github/nithya-dozes/test-repo/blob/main/lab1_ml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
def count_pairs_sum_10(list1):
    count = 0
    for i in range(len(list1)):
      for j in range(i+1,len(list1)):
        if list1[i] + list1[j] == 10:
          count+=1
    return count


list1 = [2, 7, 4, 1, 3, 6]
c_pair = count_pairs_sum_10(list1)
print("Count of pairs with sum as 10: ", c_pair )

Count of pairs with sum as 10:  2

In [39]:
def calc_range_list(num_list):
    if len(num_list) < 3:
        return "Error: The list should have more than 3 elements"
    else:
        min_value = min(num_list)
        max_value = max(num_list)
        range_value = max_value - min_value
        return range_value

n = input("Enter real numbers separated by space: ")
num_list = list(map(float, input_str.split()))
range_list = calc_range_list(num_list)

print("Range of the list:", range_list)

TypeError: 'str' object is not callable

In [38]:
def matrix_multiply(A, B):
    n = len(A)
    result = [[0] * n for _ in range(n)]
    for i in range(n):
        for j in range(n):
            result[i][j] = sum(A[i][k] * B[k][j] for k in range(n))

    return result

def matrix_exponentiate(A, m):
    n = len(A)
    result = [[1 if i == j else 0 for j in range(n)] for i in range(n)]

    base = A

    while m > 0:
        if m % 2 == 1:
            result = matrix_multiply(result, base)
        else:
            base = matrix_multiply(base, base)
        m //= 2

    return result

A = [[2, 2],[2, 2]]
m = 3
result_matrix = matrix_exponentiate(A, m)
print("A^{} is:".format(m))
for row in result_matrix:
    print(row)

A^3 is:
[8, 8]
[8, 8]